.unauthorizedUserLandingPage {
  display: flex;
  align-items: center;
  padding: 3rem;
  padding-top: 1rem;
  min-height: 100vh;
}

.unauthorizedUserLandingPage > .col--left {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unauthorizedUserLandingPage > .col--right {
  padding-top: 3rem;
  align-self: flex-start;
  flex: 2;
}

.unauthorizedUserLandingPage__acronym {
  font-size: 2rem;
  padding: 0 2rem;
  opacity: 0.75;
  line-height: 1.4;
}

.unauthorizedUserLandingPage__acronym span {
  font-weight: bold;
  font-size: 2.25rem;
}

@media(max-width: 1000px) {
  .unauthorizedUserLandingPage {
    padding: 0.5rem;
    flex-flow: column;
  }

  .unauthorizedUserLandingPage > .col--right,
  .unauthorizedUserLandingPage > .col--left {
    flex: none;
    width: 100%;
    padding-top: 0;
  }

  .unauthorizedUserLandingPage__acronym {
    display: none;
  }
}