.unauthorizedUserLandingPage {
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  padding-top: 5rem;
}

.unauthorizedUserLandingPage > *:first-child {
  flex: 3;
}

.unauthorizedUserLandingPage > *:last-child {
  flex: 2;
}

.unauthorizedUserLandingPageHeader {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.unauthorizedUserLandingPageHeader__siteName {
  margin: 0 1rem;
}

.unauthorizedUserLandingPageHeader .material-icons {
  font-size: 5rem;
  color: var(--primary-color);
}