.unauthorizedUserLandingPage {
  display: flex;
  min-height: 80vh;
  align-items: center;
}

.unauthorizedUserLandingPage > *:first-child {
  flex: 2;
}

.unauthorizedUserLandingPage > *:last-child {
  flex: 3;
}