.transcriptionRequestDashboardData {
  display: flex;
  justify-content: space-between;
}

.transcriptionRequestDashboardData__header {
  text-align: center;
  margin-bottom: 1rem;
}

.dataPoint {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataPoint__value {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.dataPoint__description {
  max-width: 70%;
  text-align: center;
}