.youTubeSearchBar {
  width: 640px;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #fff;
  border: none;
  background-image: url('../../../assets/magnifyingGlass.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 2rem;
}

@media(max-width: 768px) {
  .youTubeSearchBar {
    width: 300px;
    font-size: 0.9rem;
    background-size: 1.25rem;
    padding: 0.75rem;
  }
}