.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8rem;
  padding: 0 3rem;
  background-color: var(--secondary-color);
}

.header > *:last-child {
  margin-left: auto;
}

.header__homeLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 2rem;
}

.logo .material-icons {
  font-size: 5rem;
  color: var(--primary-color);
}

.siteName {
  color: #f9f9f9;
}

@media(max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .logo .material-icons {
    display: none;
  }
}