.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  height: 6rem;
  padding: 0 2rem;
}

.header > * {
  flex-basis: 4rem;
}

.header::after {
  content: '';
  flex-basis: 4rem;
}

.header > .siteName {
  flex: 1;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.siteName {
  text-align: center;
}