.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 3rem;
  background-color: var(--primary-color);
}

.siteName__link {
  color: #000;
  text-decoration: none;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.siteName {
  text-align: center;
}