.navBar {
  background-color: var(--primary-color);
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}

.navBar__links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  max-width: 1250px;
  margin: 0 auto;
}

.navBar__linksListItem {
  display: inline-block;
  margin-right: 2rem;
  padding: 0.5rem;
}

.navBar__link {
  color: #ef2d56;
  text-decoration: none;
}

.navBar__link:hover {
  color: #333;
}

.navBar__linksListItem.current {
  text-decoration: underline;
}