.btn {
  padding: 0.75rem 2rem;
  display: block;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s;
}

.btn:hover {
  filter: brightness(120%);
}

.btn--neutral:hover {
  filter: brightness(110%);
}

.btn:disabled {
  cursor: auto;
  opacity: 0.7;
  background-color: #ccc;
  filter: none;
}

.btn--action {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--create {
  background-color: var(--success-color);
  color: #fff;
}

.btn--neutral {
  background-color: #ccc;
}

.btn--delete {
  background-color: var(--danger-color);
}

.text--warning {
  color: #f00;
}

.line::after {
  content: '';
  display: block;
  background-color: #666;
  height: 1px;
  margin: 1rem auto;
}

.line--75::after {
  width: 75%;
}

.line--50::after {
  width: 50%;
}

.line--y::after {
  width: 1px;
  margin: 0 1rem;
}

.line--y.line--50::after {
  height: 50%;
  transform: translateY(50%);
}

.line--y.line--75::after {
  height: 75%;
  transform: translateY(25%);
}

.text--primary {
  color: var(--primary-color);
}

.text--secondary {
  color: var(--secondary-color);
}