.youTubePlayerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youTubePlayer__restart {
  margin: 0.5rem 0;
  transition: all 1s;
  padding: 1rem;
  opacity: 1;
}

.youTubePlayer__restart.hidden {
  padding: 0;
  opacity: 0;
}

.youTubePlayerWrapper__player--large,
.youTubePlayerWrapper__player--large iframe {
  height: 390px;
  width: 640px;
}

.youTubePlayerWrapper__player--medium,
.youTubePlayerWrapper__player--medium iframe {
  height: 304px;
  width: 500px;
}

.youTubePlayerWrapper__player--small, 
.youTubePlayerWrapper__player--small iframe {
  height: 183px;
  width: 300px;
}

@media(max-width: 768px) {
  .youTubePlayerWrapper__player--large,
  .youTubePlayerWrapper__player--medium,
  .youTubePlayerWrapper__player--small,
  .youTubePlayerWrapper iframe {
    height: 183px;
    width: 300px;
  }
}