.transcriptionRequestActivationWizard {
  padding: 1rem;
}

.transcriptionRequestActivationWizard__headerWrapper {
  margin-bottom: 1rem;
}

.transcriptionRequestActivationWizard__header,
.transcriptionRequestActivationWizard__stepIndicator {
  text-align: center;
}

.wizardActionsWrapper {
  display: flex;
  margin: 0 0.5rem;
}

.wizardActionsWrapper > *:last-child {
  margin-left: auto;
}

@media(max-width: 768px) {
  .transcriptionRequestActivationWizard {
    max-height: 75vh;
    width: 80vw;
    overflow: scroll;
    padding: 0.5rem;
  }

  .wizardActionsWrapper {
    flex-flow: column-reverse;
  }

  .wizardActionsWrapper > * {
    margin-bottom: 0.75rem;
  }

  .wizardActionsWrapper > *:last-child {
    margin-left: 0;
  }
}